mat-toolbar {
  display: flex;
  justify-content: space-between;
}

table ,tr{
  width: 100%;

}

th.mat-header-cell {
  width: 40%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}


.mat-row:hover {
  background-color: #e0e0e0;
}
